.firstPart {
    font-weight: bolder;
    color: crimson;
}
.secondPart {
    font-weight: bolder;
    color: goldenrod;
}
.thirdPart {
    font-weight: bolder;
    color: chartreuse;
}
.fourthPart {
    font-weight: bolder;
    color: coral;
}
.fifthPart {
    font-weight: bolder;
    color: blueviolet;
}